*{
    margin:0;
    box-sizing: border-box;
    
}

.jakis{
    height:200px;
}

.obrazek{
    height:200px;
    width:200px;
    background-image: url(../jezioro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin:200px;
}

.border{
    position: absolute;
    width:210px;
    height:210px;
    border:1px solid black;
    transform: translate(-2.5%,-2.5%);
    opacity:0;
}
.text{
    width:100%;
    position: absolute;
    top:50%;
    color:#fff;
    background-color: black;
    text-align: center;
    transform: translateY(-50%);
}

.border:hover{
    opacity:1;
    
}